*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.Card{
    width: 100%;
    background-color: #fff;
    border-top: 3px solid #8a2be2;
    border-radius: 5px;
    padding: 10px;
}

.ant-col ant-form-item-control{
    margin-right:5px!important;
}
.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }
  .save-btn-mendix{
      text-align: center;
      margin-top:30px;
  }
 .save-btn-mendix button{
    margin-left:5px
  }
  .header-left-mendix{
      display: flex;
      justify-content: flex-end;
      margin-right:30px;
  }
  .header-left-mendix .pos-btn-mendix{
    transform: translate(-22px, 0px);
    padding: 5px;
    width: 40px;
    height: 40px;
    background: transparent;
    color: #fff;
  }
  .company-profile-modal {
    min-width: 306px;
    
    background: #fff;
    color: #fff;
    margin-right: -21px;
    margin-top: -5px;
    box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}
 .icon-mendix{
    min-width: 60px;
    height: 60px;
    color: #fff;
 }
 .summary-icon-mendix{
    padding: 6px 10px;
    color: #fff;
  
 }
 .summary-card-mendix{
    transition: 0.7s ease;
 }
 .summary-card-mendix:hover{
     margin-top:-10px;
         
  
 }
 .graph-mendix{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top:30px;
     width:100%;
 }
 .compnay-logo{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 20vh;
     background-color: red;
    
 }
 .compnay-logo h1{
     color:#fff;
 }
 .profile-btn-mendix{
     display: flex;
     justify-content: space-between;
     padding: 10px 10px;
 }

